<div *ngIf="!impService.isPrinting" class="micontenedor">


    <div id="tblDatos" class="form-row">
        <div *ngIf='datos' class="col-12">
            <ng-container 
            [ngTemplateOutlet]="tabla" 
            [ngTemplateOutletContext]="{nivel:datos,titulos:titulos,botones:botones,indice:0}">
            </ng-container>
        </div>

    </div>
    
</div>

<!-- ============= Templates ==================-->
<!-- Tabla Maestro-->
<ng-template #tabla let-nivel='nivel' let-titulos='titulos' let-botones='botones' let-indice='indice'>

    <div class="row " *ngIf="nivel && getTitulosNivel(nivel,titulos) > 0" id="'tblDatos-'+tableId">
        <table *ngIf="nivel"  class="table table-md table-hover">

            <thead>
                <tr >
                    <th *ngIf="botones"> </th>
                    <Th *ngFor="let titulo of nivel.titulos.titulos ">{{titulo}}</Th>
                </tr>
            </thead >
            <tbody>

                <ng-container *ngFor="let elemento of nivel| paginate: { itemsPerPage: 10, currentPage: p[indice], id:'xx-'+tablaId+indice }; let i = index"
                    [ngTemplateOutlet]="item" 
                     [ngTemplateOutletContext]="{elemento:elemento, campos:nivel.titulos.titulos,subnivel:[], titulos: nivel.titulos.titulos, botones:botones, inidice:indice+i}">
                </ng-container>

            </tbody>
        </table>

    </div>
    <div *ngIf="nivel" class="row ">  

        <!-- control de paginacion -->
        <div class="col col-md-10">
            <pagination-controls class="my-pagination pagination-x " (pageChange)= "p[indice]= $event" 
                                id=xx-{{tablaId}}{{indice}}
                                autoHide="true"
                                responsive="true"
                                previousLabel="Anterior"
                                nextLabel="Próxima"
                                >
            </pagination-controls>

        </div>
        <div class="col col-md-2 ">
                        <div class="btn-group" >
                            <button type="button"  class="btn btn-secondary btn-small" (click)="ExportarExcel(nivel,nivel.titulos.titulos,titulo)"><i class="fa fa-file-excel-o"></i> </button>
                         <!--   <button type="button" class="btn btn-secondary btn-small" (click)="Imprimir(nivel)"> <i class="fa fa-print"></i> </button>-->
                        </div> 
        </div>

 

    </div>
</ng-template>

<!-- Tabla Detalle-->
<ng-template #item let-elemento='elemento' let-campos='campos' let-subnivel='subnivel' let-titulos='titulos' let-botones='botones'>

    <tr>
        <!--         <td > 
            <a class="btn" *ngIf="subnivel" (click)="setDetalle(elemento,subnivel) "> 
            <i class="fa fa-chevron-down" *ngIf="!elemento.detalle"></i> 
            <i class="fa fa-chevron-up" *ngIf="elemento.detalle"></i>
            </a>
        </td> -->
        <td *ngIf="botones" style="width:10%">
            <div class="btn-group btn-group-xs" role="group">
                <a *ngFor="let boton of botones; let x = index " class="btn " 
                data-toggle="tooltip" title="{{boton.text}}" 
                (click)="boton.hacer(impService,objService[x],elemento)"> 
                    <i class="{{boton.imagen}}"></i> 
                </a>
            </div>
        </td>
       
        <td *ngFor="let campo of campos;  trackBy: indexTracker" >        
            <div  *ngIf="isArray(campo,elemento) == 0"  >    {{elemento[campo]}}  </div>
            <div *ngIf="isArray(campo,elemento) >0" >   
                <a> {{elemento[campo].length}} </a>
                <a   (click)="mostrarDetalle(elemento,campo, campo, detTempalte)">   
                        <i class="fa fa-search" ></i> 
                </a>

            </div> 
        </td>
    </tr>

    <tr *ngIf="elemento.detalle">
        <td [attr.colspan]="campos.length+1">
            <ng-container [ngTemplateOutlet]="tabla" [ngTemplateOutletContext]={nivel:subnivel}>
            </ng-container>
        </td>
    </tr>
</ng-template>


<ng-template #detTempalte role="dialog">
    <div *ngIf='detalleMostrar.datos.length > 0'>
        <div >
            <div class="modal-header">
                  <h5> {{ modalService.config.initialState.titulo }} </h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarDetalle()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <ng-container 
                        [ngTemplateOutlet]="tabla" 
                        [ngTemplateOutletContext]="{nivel:detalleMostrar.datos,titulos:detalleMostrar.titulosGlobales,indice:2}">
                    </ng-container>
            </div>
        </div>
    </div>

</ng-template>

