/*componente sin estilos*/
.table tr th.nivel1{
    background-color: rgb(52, 199, 29)
}

.table tr th{
    font-size: 14px;
    padding: 0px;
}

.table tr td{
    font-size: 12px;
    padding: 0px;
}


.table tr th.nivel2{
    background-color: rgb(140, 153, 153)
}


.sinpadding {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .my-pagination /deep/ .ngx-pagination .current {
    background: #6c757d;
  }
  
  .pagination-x /deep/ .ngx-pagination {
    padding-left: 0px;
  }
  