<div class="row">

       
</div>
<!--<app-tarjetas></app-tarjetas> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2" >
            <app-navbar></app-navbar>    
        </div>

         <div class="col-md-6 bg-light" id="mynetwork">
            <app-grafico></app-grafico>
        </div>

        <div class="col-md-3" id="mynetwork2">
        </div>
        
    </div>        
</div>

<style>
             #mynetwork {
            width: 80% ;
            height: 700px;
           margin-left:0px;
           margin-top:90px;
            border: 1px solid lightgray;
            /*background-color:black;*/
        }
</style>       

<style>
             #mynetwork2 {
            width: 100% ;
            height: 700px;
           margin-left:0px;
           margin-top:90px;
            border: 1px solid lightgray;
            background-color: lightgray;
        }
</style>     