#mynetwork {
    width: 100%;
    height: 700px;
    margin-left: 20px;
    margin-top: 50px;
    /* border: 1px solid blue; */
    /*background-color:black;*/
}

.grafico {
    padding-top: 30px;
    margin-top: 50px;
    margin-left: 20px;
}

#eventSpan {
    color: #0099CC;
    /* float: left; */
    /* position: relative; */
}

#eventSpan2 {
    color: rgba(0, 150, 136, 0.7);
    width: 100%;
    align-content: right;
    /* position: relative;
    float: right; */
    /* border: 1px solid blue; */
}