<div class="row">
    <div class="col-12 form-control">
        <input id="programaInput" class="btn-block" type="text" value="" placeholder=" Ingrese el programa " #buscarPrograma>
        <button (click)="obtenerPrograma(buscarPrograma.value)" class="btn btn-info btn-block">
            Consultar
    </button>

    </div>

</div>
<div *ngIf="buscarPrograma.value !=''" class="row">

    <div id="mynetwork" class=" col-lg-7 col-sm-12"></div>
    <div id="eventSpan" class=" col-lg-2 center-block col-sm-12  ">
    </div>
    <div id="eventSpan2" class="col-lg-2 col-sm-12 ">
    </div>
</div>
<div *ngIf="buscarPrograma.value ==''" class="row">
    <div class="col col-12 m-5">
        <h1>Debe seleccionar un programa</h1>
    </div>
</div>


<div class="row">
    <app-grilla *ngIf='grilla' [datos]=datos [titulos]=titulos [titulosSaltos]=titulosSaltos [botones]=botones [objService]=[dialog,fs]>
</div>
<div class="row">
    <app-grilla *ngIf="found" [datos]=found.Actores [titulos]="['Actor','Descripcion']">
    </app-grilla>


</div>