  
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <!--<link href="dashboard.css" rel="stylesheet">-->
  
      <nav class="navbar navbar-dark fixed-top bg-info flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-6 mr-0" href="#">WIZARD PRESTACIONES</a>
  <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Actores</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>



  <div class="row">
    <nav class="col-md-12 d-none d-md-block bg-success sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Nueva Prestación
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Circuito Prestación
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Actores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Reglas de Validación 
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Conceptos de Liquidación
            </a>
          </li>


        </ul>
      </div>
    </nav>

    
  </div>





       

