<div class="card-columns">
    <div class="card p-0" *ngFor="let per of permisos">
        <a class="panel panel-default" href="#">

            <div class="panel-heading" style="background-image: url(assets/imagenes/Presentacionx.jpg)"></div>
            <div class="car-body">
                <h3 class="card-title">{{per.ItemCaption}}</h3>
                <p class="card-text">Todos los servicios por si sos empleado, monotributista, querés capacitarte o estás buscando trabajo.</p>
            </div>
        </a>
    </div>
</div>